{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Web LTI-Formater</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>

<body>
<style>
    .style_link {
        text-decoration: none;
        color: white;
    }
</style>
<div class="topNavLine"><h3><a href="{% url 'home' %}" class="style_link">LTI-форматер заданий</a></h3></div>
<div class="table_style">
    <form method="POST" enctype="multipart/form-data" action="/result/">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    {{ form.choice.label }}
                </td>
                <td>
                    {{ form.choice }}
                </td>
            </tr>

            <tr id="file_upload_field">
                <td>
                    {{ form.submit_your_file_here.label }}
                </td>
                <td>
                    {{ form.submit_your_file_here }}
                </td>
            </tr>

            <tr id="course_id_field" style="display:none;">
                <td>
                    {{ form.course_id.label }}
                </td>
                <td>
                    {{ form.course_id }}
                    {{ form.choice.help_text }}
                </td>
            </tr>

            <tr id="quiz_id_field" style="display:none;">
                <td>
                    {{ form.quiz_id.label }}
                </td>
                <td>
                    {{ form.quiz_id }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.choice_to.label }}
                </td>
                <td>
                    {{ form.choice_to }}
                </td>
            </tr>
        </table>
        <input type="submit" value="Преобразовать" class="button_style">
    </form>

    <script>
        document.querySelector("#id_choice").addEventListener("change", function () {
            const fileUploadField = document.querySelector("#file_upload_field");
            const courseIdField = document.querySelector("#course_id_field");
            const quizIdField = document.querySelector("#quiz_id_field");

            console.log(this.value);

            if (this.value === "6") {
                console.log("DELETE");
                fileUploadField.style.display = "none";
                courseIdField.style.display = "table-row";
                quizIdField.style.display = "table-row";
            } else {  // Обратное отображение полей
                fileUploadField.style.display = "table-row";
                courseIdField.style.display = "none";
                quizIdField.style.display = "none";
            }
        });
    </script>

</div>
</body>
</html>